#pageLayout {
  background: lightcyan;
}
#navigation {
  text-align: center;
}
#heroSection {
  padding: 100px;
  text-align: center;
  background: lightgreen;
}
#highlights {
  padding: 40px;
  text-align: center;
  background: lightyellow;
}
#testimonials {
  padding: 40px;
  text-align: center;
  background: lightsalmon;
}
#footer {
  text-align: center;
}
