#pageLayout {
  background: lightcyan;
}
#navigation {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
  button {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
  }
}
#heroSection {
  padding: 100px;
  text-align: center;
  background: lightgreen;
}
#highlights {
  padding: 40px;
  text-align: center;
  background: lightyellow;
}
#testimonials {
  padding: 40px;
  text-align: center;
  background: lightsalmon;
}
#footer {
  text-align: center;
}
