#pageLayout {
  background: lightcyan;
}
#navigation {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  button {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
  }
  img {
    border-radius: 50%;
    height: 75px;
    width: 75px;
  }
}
#heroSection {
  padding-left: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  background: lightgreen;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 200px;
  img {
    height: 30%;
    width: 30%;
  }
  button {
    height: 40px;
    width: 200px;
    font-size: 20px;
    border-radius: 5px;
  }
}
#highlights {
  padding: 20px;
  text-align: center;
  heading {
    padding-left: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 600px;
    button {
      height: 40px;
      width: 150px;
      font-size: 20px;
      border-radius: 10px;
      color: white;
      background: black;
    }
  }
  section {
    padding-left: 100px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    special3 {
      img {
        height: 230px;
        width: 300px;
      }
    }
  }
  background: lightyellow;
}
#testimonials {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background: lightsalmon;
  section {
    padding-left: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
  }
}
#stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  img {
    height: 30px;
    width: 30px;
  }
}
#about {
  padding: 20px;
  text-align: center;
  background: lightblue;
}
#footer {
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  img {
    height: 100px;
    width: 100px;
  }
}

#reservations {
  padding-top: 20px;
  padding-left: 35%;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
}

#res-date {
  margin-left: 10px;
  width: 200px;
  height: 40px;
  font-size: 16px;
}
#res-time {
  margin-left: 10px;
  width: 200px;
  height: 40px;
  font-size: 16px;
}

#occasion {
  margin-left: 65px;
  width: 200px;
  height: 40px;
  font-size: 16px;
}
#submit {
  margin-left: 100px;
}