#beverages {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
#tea {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20%;
    padding-left: 20%;
    img {
        width: 20%;
        height: 20%;
    }
}
#coffee {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-left: 20%;
}